*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eef1fc;
}

.contenedor{
    width: 90%;
    height: 600px;
    margin: 15px auto;
    display: flex;
    gap: 35px;
    margin-bottom: 0;
}

.caja1{
    width: 70%;
    height: 590px;
    
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.caja-texto{
    max-width: 100%;
}

.area{
    margin-top: 45px;
    background: transparent;
    resize:none;
    max-width:100%;
    color: darkblue;
    font-size: 18px;
    outline: none;
    border: none;
    text-transform:lowercase;
}

.caja-botones{
    height: 90px;
    width: 450px;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
}

.parrafo{
    position: relative;
    font-size: 12px;
    color: #666;
}

.encri, .desen, .copy{
    width: 170px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.encri{
    background: darkblue;
    color: #fff;
}
.desen{
    background: #D8DFE8;
    color: darkblue;
    border: 1px solid darkblue;
}

.encri:hover{
    box-shadow: 5px 5px 5px black;
}

.desen:hover{
    box-shadow: 5px 5px 5px black;
}

.caja2{
    width: 25%;
    background: #fff;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
}

.imagen{
    width: 100%;
    height: 40%;
    padding-top: 40px;
}

.imagen img{
    width: 100%;
}

.texto{
    width: 100%;
    height: 20%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-top: 60px;
}

.texto2{
    width: 100%;
    height: 15%;
    color: #aaa;
    font-size: 15px;
    text-align: center;
}

.contenedor-resultado{
    width: 100%;
    height: 70%;
    padding: 25px;
}

.contenedor-resultado h4{
    font-family: bold;
    font-size: 18px;
}

.contenedor-copiar{
    text-align: center;
    margin-top: 100px;
}

.copy{
    background: rgb(181, 194, 245);
    color: #000;
    font-weight: bold;
}

.copy:hover{
    border: 1px solid darkblue;
}

.copy:active{
    background: darkblue;
    color: #fff;
}

.resultado{
    width: 100%;
    height: 50%;
    background: transparent;
    border: 1px solid black;
    resize:none;
    border: none;
    color: darkblue;
    font-size: 18px;
    outline: none;
    text-transform: lowercase;
}

.ocultar{
    display: none;
}

.foot{
    text-align: center;
    background: #aaa;
    margin: 0;
    height: 42px;
    padding: 10px;
    width: 100%;
}

.foot-text{
    font-size: 16px;
}

.negri{
    font-weight: bold;
}

@media screen and (max-width:768px){
   .contenedor{
    flex-direction: column;
    height: 100%;
   }
   .caja1{
    width: 100%;
    
   }
   .caja2{
    width: 100%;
    height: 200px;
   }

   .imagen{
    display: none;
   }
   .texto, .texto2{
    height: 90px;
   }
   .contenedor-resultado{
    height: 120px;
   }
   .contenedor-copiar{
    margin: 0 auto;
   }
   .resultado{
    height: 100px;
   }
}

@media screen and (max-width:375px) {
    .caja-botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}